<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>872882263194-s1rqttqjq7mbfc249ngsrgn9ms40ibs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.872882263194-s1rqttqjq7mbfc249ngsrgn9ms40ibs2</string>
	<key>API_KEY</key>
	<string>AIzaSyAnfunoXLApNflH_sQ8VNn8SaIPeOlTauw</string>
	<key>GCM_SENDER_ID</key>
	<string>872882263194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yellowforktech.littlefamilytreeios</string>
	<key>PROJECT_ID</key>
	<string>little-family-tree</string>
	<key>STORAGE_BUCKET</key>
	<string>little-family-tree.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:872882263194:ios:31c71bc02ee152e2</string>
	<key>DATABASE_URL</key>
	<string>https://little-family-tree.firebaseio.com</string>
</dict>
</plist>